applications:
  app:
    type: python:3.11
    disk: 1024
    relationships:
      database: "db:postgresql"
    web:
      upstream:
        sockets:
          gunicorn: "gunicorn -w 4 -b unix:$SOCKET j_project.wsgi:application"
    mounts:
      static:
        source: local
        source_path: static
      media:
        source: local
        source_path: media

services:
  db:
    type: postgresql:12
    disk: 512
