apps:
  php:
    type: "php:8.2"
    build:
      flavor: none
    web:
      commands:
        start: "gunicorn -w 4 -b unix:$SOCKET j_project.wsgi:application"
      locations:
        "/":
          passthru: true
        "/static/":
          root: "static"
          allow: true
          expires: 1h
    mounts:
      "logs":
        source: local
        source_path: logs
    hooks:
      build: |
        pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements_remote.txt
        mkdir logs
        python manage.py collectstatic
      deploy: |
        python manage.py migrate
